
$primary-color: #444;
$secondary-color: #eece1a ;
$home-image:url("../img/bg.jpg");
$show-home-image:true;
$background-opcity:0.9;


@mixin easeOut {
    transition: all 0.5s ease-out;
}
@mixin background {
    @if $show-home-image{
        &#bg-img{
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1X5MThlxqPV4gCStT-lZjIY65PtH36wKp5A&usqp=CAU);
            background-attachment: fixed;
            background-size: cover;

            &:after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                z-index:-1 ;
                background: rgb($primary-color,$background-opcity);
            }
        }
    }
}

// media query 

@mixin mediaSm {
    @media screen and(max-width:500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and(max-width:768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and(min-width:769px) and (max-width:1170px ) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and(min-width:1171px) {
        @content;
    }
}
